
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registration Page - De La Salle Lipa</title>

    <!-- Bootstrap Core CSS -->
    <link href="../dlslterms/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dlslterms/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../dlslterms/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    {{!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> --}}
    <link href="../dlslterms/css/dlslfonts.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
	#scrollable-content {
  height: 380px;
  overflow: auto;
  background-color: #ffffff;
  border:1px solid #e5e5e5;
  padding:0 20px;
}
#scrollable-content ul>li{ font-size:16px; font-weight:normal; margin-bottom:20px;}
#scrollable-content ul>li i {font-weight:bold; }
.navbar-header {background:url(img/head-logo.png) no-repeat;padding-left:50px;}
#go {display:none;}
</style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">               
                <a class="navbar-brand topnav" href="#">DLSL <i>“ALA-EH”</i> (ALways Available Educational Hub)</a>
            </div>
           
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


      <!-- Page Content -->

	<a  name="services"></a>
    <!-- /.content-section-a -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-lg-offset-0 col-sm-push-8  col-sm-4">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Before we begin,</h2>
                    <p class="lead">Welcome dear partners! <br>
                    Please take your time reading our <a href="#">terms & conditions</a> regarding the usage of our DLSL network service. Your awareness is very important to us in giving you the best possible experience that we can provide!</p>
                    <img class="img-responsive" src="../dlslterms/img/midium-logo.png" alt="" style="margin: 0 auto;">
                </div>
                
                <div class="col-lg-8 col-sm-pull-4  col-sm-8">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Terms and Conditions</h2>         
              
                  <div id="scrollable-content">
<h3 class="section-heading">Introduction</h3>
            <p class="lead"> De La Salle Lipa (DLSL) continuously improves its Information and Communications Technology (ICT) resources for the Lasallian community.  One of the key enhancements is to provide a robust campus network infrastructure.  This is hereby dubbed as “ALA-EH,” or Always Available Educational Hub of DLSL.
            </p>
            <p class="lead">
            This DLSL ICT resource is provided in the hope that the whole DLSL community will use it in the spirit of mutual cooperation. Such ICT resource is relatively limited and must be shared responsibly. Everyone will benefit if all network consumers avoid any activities which cause problems for others who use the same infrastructure.
            </p>
            <p class="lead">
            All hardware, software, and related services supplied by DLSL through the Office of the Technology and Innovations are for the sole purpose of supplementing and reinforcing the institutional goals as set forth in the mission statements of the school. Misuse of these facilities is a violation of DLSL's computing policy as set forth in the ICTC Operations Manual and possibly other laws as well.
            </p>
            <p class="lead">
            Henceforth, the succeeding policies and guidelines are stated below to govern the proper use of ALA-EH.
            </p>
<h3 class="section-heading">Excerpt from the ICTC Operations Manual</h3>
<p class="lead">
Below is the Network and Internet Usage Policy from the ICTC Operations Manual established in 2012 and revised in April 2016:
</p>
<ul>
<li>
<i style="color:#25cb68;">PURPOSE of POLICY</i> - 
As part of this INSTITUTION’s commitment to the utilization of new and emerging technologies, many/all of our PARTNERS and students have access to LAN and Internet. In order to ensure compliance with the copyright law, and protect us from Network Security Threats that include but not limited to Black Hat, Hacker, Cracker, Phisher, and Spammer into our network, this policy is hereby established. 
<br>
DLSL has the right and capability to monitor LAN activity and Internet browsing by each user on our SYSTEM. However, the goal is for all PARTNERS and students will do this for security purposes only. At DLSL, we have the privilege of Internet access and it is important that we utilize this valuable resource for mutual benefit of all.
</li>
<li>
<i style="color:#25cb68;">SCOPE</i> - 
This policy applies to the entire DLSL institution.  In these policies, unless the context otherwise requires – “SYSTEM” generally means any computing equipment (i.e. servers, workstation or stand-alone PCs, mobile devices, data network facilities, peripherals and software), controlled by the Information & Communications Technology Center (ICTC) and used by PARTNERS and students within the campus or elsewhere. The “control” of ICT in this context covers the following:
<ul>
<li>standard hardware specifications, upgrades, including peripherals</li>
<li>standard software specifications, installation and licensing</li>
<li>data connectivity and other network facilities</li>
<li>jurisdiction over institutional servers hosting vital information services and internet protocols like DHCP, LDAP, SNTP, proxies, web mail, web hosts and the likes.</li>
<li>The accountability of the “SYSTEM” remains with the division or unit where it is assigned, hence, proprietary control is not the responsibility of the ICT.   Such proprietary control shall terminate upon turn-over to the ICT for decommissioning, where ICT determines the mode of disposal for the said SYSTEM as stipulated in document ICT EQUIPMENT DISPOSAL GUIDELINES.</li>
<li>The term “INSTITUTION” refers to DLSL in general.</li>
</ul>
</li>
</ul>
<h3 class="section-heading">GENERAL POLICIES</h3>
<ul>
<li>The INSTITUTION’s local area network LAN is connected to the Internet. Everyone with access to the local area network has the ability to access the Internet, including use of email and the World Wide Web. While the Internet is a great resource for our INSTITUTION, it is the responsibility of each PARTNER to use this resource responsibly and respectfully. It is assumed that the predominant use of these resources will be for official use, and that any “personal use” of email or the World Wide Web will be limited; never a priority over work matters. “Personal use” here is defined as that which has no direct bearing to the assigned work of a PARTNER. If a case arises where there is a need to use email for personal purposes, it is to be kept at a minimum and it should be sent or received as seldom and as brief as possible. In such cases where “personal use” is for personal enrichment, it must be done within defined parameters. If a PARTNER is found spending excessive time on personal use of these resources, this privilege may be revoked or indefinitely suspended for that PARTNER upon the request of the Superior or Division Head.
</li>
<li>It is the INSTITUTION’s policy to limit Internet access to official business. PARTNERS and students are authorized to access the Internet for personal business before or after office-hours or during lunch breaks, in strict compliance with the other terms of this policy. Using appropriate sites for business purposes is unrestricted as long as it is reasonable. As mentioned above, this is left for the supervisor to determine and implement.
</li>
<li>The DLSL campus network and Internet access will not be used for commercial activity, personal advertisement, solicitations, or promotions, such as hosting of commercial websites, or email broadcasts of commercial promotions to the DLSL community.
</li>
<li>As such, non DLSL organizations (such as commercial outlets operating on the DLSL campus) will not be connected to the DLSL network, and cannot be a part of the DLSL domain space.
</li>
<li>The downloading of audio and video files is to be done strictly for official purposes.
</li>
<li>Access to sites that are banned under the policy or that are offensive or obscene is prohibited. This is also an offence under the ICTC policy.
</li>
<li>Use of the network to tamper with information on other computing device, to deliberately spread harmful programs, to “hack into” and compromise other systems, or to cause damage of any kind using the internet, is prohibited, and is an offence under the ICTC policy.
</li>
<li>The Internet does not guarantee the privacy and confidentiality of information. Sensitive material transferred over the Internet may be at risk of detection by a third party. PARTNERS and students must exercise caution and care when transferring such material in any form.
</li>
<li>PARTNERS and students shall not place INSTITUTION material (copyrighted software, internal correspondence, etc.) on any publicly accessible Internet computing device without proper permission.
</li>
<li>The display, viewing or transmission of sexually-explicit images, messages or cartoons, unnecessary propaganda or any transmission that contains ethnic slurs, racial epithets, or anything that may be construed as harassment or disparagement of others based on their race, national origin, sex, sexual orientation, age, disability, religious or political beliefs, or any other unlawful material is not permitted before, during, or after business hours.
</li>
</ul>

<h3 class="section-heading">SPECIFIC POLICIES: OFFICE NETWORK (Wired/Wireless) USAGE POLICY</h3>
<p class="lead">The introduction of Network Security Threats, or malicious tampering with any computing device, is expressly prohibited.  The following activities are considered malicious:</p>
<ul>
<li>willful tampering of IP addresses by PARTNERS to gain access to the Internet</li>
<li>installation/plugging of personal devices (where such devices are NOT included in the property/asset of the INSTITUTION) of DLSLs vacant data ports such as laptops, desktops, routers, access points, switches and the likes.</li>
<li>installation of anti-virus, anti-spam, anti-trojan, anti-spyware utilities without prior consent from or notification of the ICT</li>
<li>installation of utilities claiming to boost performance of a system such as user interface and registry tweaks without prior consent from or notification of the ICT</li>
<li>installation of software for personal use without prior consent of the department/division head and ICT</li>
</ul>
<p class="lead">Any such aforementioned activity may result in termination of employment.</p>
<ul>
<li>Files that are downloaded from the Internet through email must be scanned with virus detection software before installing or execution. Although we have very good virus prevention software installed, downloading from the Internet should be done with caution. Space is also a potential problem; therefore, downloaded material should be kept under control. All appropriate precautions should be taken to detect threats and to prevent its spread.
</li>
<li>Alternate Internet Service Provider connections to the INSTITUTION’s local area network are not permitted unless expressly authorized and properly protected by a firewall or other appropriate security device(s).
</li>
<li>Unless otherwise noted, all software on the Internet should be considered copyrighted work. Therefore, PARTNERS are prohibited from downloading software and/or modifying any such files without permission from the copyright holder.
</li>
<li>Any infringing activity by a PARTNER may be the responsibility of the INSTITUTION. Therefore, this INSTITUTION may choose to hold the PARTNER liable for his actions.
</li>
<li>This INSTITUTION reserves the right to inspect a PARTNER’s computing device for violations of this policy.
</li>
</ul>

<h3 class="section-heading">NON-OFFICE WIFI NETWORK USAGE POLICY PURPOSE</h3>
<p class="lead">This policy contains the basics of what one needs in order to connect to the DLSL ALA-EH using wireless technology, commonly known as WiFi. Wifi connection in DLSL is an extended service of the ICTC.</p>
<ul>
<li>DLSL PARTNERS and current students are given the privilege to use the DLSL Wireless network as part of the ALA-EH DLSL, unless they have been denied that privilege, which is among the sanctions meted out for violations of this policy and other end-user policies of the INSTITUTION.</li>
<li>No Abuse. The primary rule is that no user may interact with the WiFi system in such a way as to deny access to other users of the same.</li>
<li>No Bridging.  Under no circumstances may anyone connect to the WiFi network a device that is configured to bridge network traffic to other areas that is not a part of the DLSL campus. Similarly, users are forbidden from using the WiFi network while attached to any other network (wired or otherwise).</li>
<li>Mobile computing devices and PC desktops are allowed on the WiFi network without prior express written permission. Wireless routers,  access points, and all other similar devices not owned by the INSTITUTION are strictly prohibited.</li>
<li>No Network Gaming.  Network gaming is strictly prohibited. The ALA-EH DLSL (wired and wireless) can only be used for official functions and activities that promote learning. Using the DLSL WiFi other than official and personal enhancement is an outright violation of campus policies and will be sanctioned accordingly.</li>
<li>No Large Downloads.  The bandwidth for wireless connection is shared between all wireless devices connected to an access point. Downloading excessively large files slows down the connection and may cause the access point to fail.</li>
<li>No Password Sharing.  Users must not reveal their login information (name and password) to anyone for any reason.</li>
<li>Applicability of Other Rules.  The rules that apply to other DLSL computing structures (networks, computers) apply to the WiFi network.</li>
</ul>

<h3 class="section-heading">REVOCATION OF ACCESS TO NETWORK PRIVILEGES</h3>
<p class="lead">Anyone who has been granted a username will have their access privileges denied, restricted, or revoked for any of the following activities:</p>
<ul>
<li>Using another person's username and password.</li>
<li>Attempting to read, copy, alter or destroy other's data files or software without permission.</li>
<li>Attempting to gain unauthorized access to another person's computing device, whether local or off-campus through the ALA-EH.</li>
<li>Attempting to decode passwords or access control information.</li>
<li>Attempting to circumvent network security measures.</li>
<li>Engaging in any activity that might be purposefully harmful to networked systems or to any information stored thereon including, but not limited to, creating or propagating viruses, disrupting services, damaging files or making unauthorized modifications to institutional data.</li>
<li>Misusing copyrighted material, including software, graphics, text, photographs, sound, video and musical recordings and storing such copies on institutional systems, or transmitting them over institutional networks.</li>
<li>Using internal or external email or messaging services to harass or intimidate. </li>
<li>Using internal or external email to do unauthorized mass email through the ALA-EH.</li>
<li>Using the campus network or campus computing device in a manner that violates provisions under the Partner's Manual or Student Handbook whichever may apply.</li>
<li>Wasting resources, for example, by intentionally placing a program in an endless loop, printing excessive amounts of paper, or sending spam messages.</li>
<li>Using the DLSL’s systems or networks for personal gain, such as performing unauthorized work for profit using institutional resources.<br>Using institutional networks/systems/Internet bandwidth for personal commercial purposes, such as using electronic mail to circulate advertising for products or services</li>
<li>Engaging in any other activity that does not comply with institutional policies and Philippine laws</li>
<li>Any other acts that is deemed to be analogous to the aforementioned.</li>
</ul>

<h3 class="section-heading">EXCERPTS FROM PARTNER’S and STUDENT’S MANUAL</h3>
<p class="lead">As described in the preceding section, a user’s access privileges may be revoked under the circumstances as stated.  However, the INSTITUTION has the right to conduct further analysis of any pending cases wherein a misuse of the network has been determined.  In such cases, the iNSTITUTION may invoke other sanctions as described in the PARTNER’S manual or STUDENT’S handbook whichever may apply.</p>

                   </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Done reading?</h2>
                    <p class="lead">If you are ready, click the <i>"I Have Read & Accept This Agreement"</i> button to signify that you have read and will abide by the terms of the DLSL Acceptable Network Usage Policy. </p>
                    <p class="lead"> You will be presented with a login prompt.  An official DLSL email account is hereby warranted for you to continue.  You must enter your email username and not the full email address.  To illustrate:</a></p>
                    <p class="lead"><i>Email address:        firstname.lastname@dlsl.edu.ph<br>Username:        firstname.lastname</i></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
<span id="wait">
{{!-- <a class="btn btn-default btn-lg" onClick="$('#wait').hide();$('#go').show();return false();">
<span class="network-name"> I Have Read & Accept This Agreement </span>
</a> --}}
</span>
<span id="go">                    
<h2 class="section-heading">Register Now!</h2>
<p>
Please note that there is NO need to include, “@dlsl.edu.ph.”  The logon process will do this for you.  Next, enter the password in the corresponding textbox 


Once you have logged in successfully, you are now registered into the DLSL ALA-EH to enjoy a fast, efficient and secure access to DLSL systems and the Internet eventually with blazing speed.
</p>
<div class="form-group">
<form method="post" action="http://wlan.dlsl.edu.ph/cgi-bin/register.cgi">
  <label for="usr">DLSL Email Account (without the "@dlsl.edu.ph"):</label>
  <input type="text" class="form-control" id="user" name="user">
</div>
<div class="form-group">
  <label for="usr">Your Password:</label>
  <input type="password" class="form-control" id="pass" name="pass">
</div>
<input type="submit" class="btn btn-default btn-lg" name="register" value="Submit & Register">
</span>
</form>  
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	

    <!-- jQuery -->
    <script src="../dlslterms/js/jquery.js"></script>
	
	<script>
	function myFunction() {
    var str = document.getElementById("user").value; 
	//alert(str);
    var res = str.replace(".", "_");
	//alert(res);
    document.getElementById("user").value = res;
	
	var str = document.getElementById("user").value; 
	//alert(str);
    var res = str.replace(".", "_");
	//alert(res);
    document.getElementById("user").value = res;
	
	var str = document.getElementById("user").value; 
	//alert(str);
    var res = str.replace(".", "_");
	//alert(res);
    document.getElementById("user").value = res;
	
	var str = document.getElementById("user").value; 
	//alert(str);
    var res = str.replace(".", "_");
	//alert(res);
    document.getElementById("user").value = res;
	}
	</script>

    <!-- Bootstrap Core JavaScript -->
    <script src="terms/js/bootstrap.min.js"></script>

</body>

</html>
